body{
    background-color: #F7F7F7 !important ;
    color: #42515F !important;
}
.formBox{
    background-color: white;
    align-items: center;
    margin: 2% 15% 10% 15%;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
}
.formBody{
    padding: 5% 15% ;
}
.submit{
    background-color:#E2E2E2;
    color: #42515f;
}
.Reset, .Cancel{
    background-color: #E2E2E2;
    color: #42515f;
}
.submit:hover{
    color:white;
    background-color: #82A70C;
}
.Reset:hover ,.Cancel:hover{
    background-color:#969696;
    color: white;
}